/* Général */

.container-fluid,
.col-md-12 {
    padding-right: 0px;
    padding-left: 0px;
}

body {
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    line-height: 2;
}

header {
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 999999;
    position: absolute;
}

.contact,
.terms,
.page404 {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
}

@media screen and (max-width: 767px) and (max-width: 991px) {
    .contact,
    .terms,
    .page404 {
        background-size: auto 80vh;
    }
    header {
        height: 15%;
    }
    .navbar-header a {
        padding: 10px;
    }
    .navbar ul {
        top: 45px;
        position: absolute;
    }
    .navbar-brand img {
        margin: -10px 5px!important;
    }
}

@media screen and (max-width: 991px) {
    .contact,
    .terms,
    .page404 {
        background-size: auto 85vh;
    }
}

.contact {
    background-image: url('../img/bg-about.jpg');
}

.terms {
    background-image: url('../img/bg-terms.jpg');
}

.page404 {
    background-image: url('../img/bg-404.jpg');
}

.navbar .logo {
    position: relative;
    margin-right: 50px;
    float: left;
}

.navbar {
    margin-bottom: 20px;
    height: 20%!important;
}

.navbar-header a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
}

.hideShow {
    display: initial;
}

@media screen and (max-width: 991px) {
    .hideShow {
        display: none;
    }
    .imgSize {
        width: 60%;
        height: auto;
        resize: both;
    }
}

.glo-title {
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.1em;
    text-shadow: 1px 1px 5px #343b48;
}

.navbar-brand img {
    margin: 0 20px;
}

.navbar ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 50px;
}

.navbar ul li a {
    color: white;
    transition: all 0.5s ease;
    font-weight: 500;
    padding: 0;
    padding: 0 10px;
    color: white;
    border-right: 1px solid white;
    line-height: 1em;
    font-size: 1.5rem;
    text-shadow: 1px 1px 5px #343b48;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar ul li a:hover,
.navbar ul li a:active,
.navbar ul li a:focus {
    background: none;
    color: #a11a25;
}

.navbar ul li:last-child a {
    border-right: none;
}

.menu {
    margin-right: 20px;
    padding-bottom: 47px;
    width: auto;
}

.accroche {
    text-align: center;
    width: 50%;
    font-size: 25px;
    margin: auto;
}

footer {
    margin: 50px auto 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
}

footer a {
    color: white;
}

footer a:hover,
footer a:active,
footer a:focus {
    color: white;
}

.footerText {
    padding: 5px;
}

.sep {
    padding: 5px;
}



/* Index */

.highlight {
    color: #a11a25;
}

.containerHome {
    width: 100%;
    top: 0;
}

.containerHome h1 {
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    text-transform: uppercase;
}

.carousel-indicators li {
    background-color: #343b48;
    border: 1px solid #343b48;
}

.carousel-indicators .active {
    background-color: #a11a25;
    border: 1px solid #a11a25;
}

.glyphicon {
    top: 50%;
}

.carousel .item img {
    max-height: 2000px;
}


/* About */

.containerAbout {
    background: black;
    position: relative;
    width: 100%;
}

.containerAbout h1,
.containerContact h1,
.containerTerms h1 {
    text-align: center;
    font-family: "Playfair Display", sans-serif;
}


#backgroundAbout {
    position: sticky;
    top: 0;
    left: 0;
    height: 70vh;
    max-height: 778px;
    display: flex;
    justify-content: center;
    width: auto;

}

#backgroundAbout img {
    flex: 1 1 auto;
    width: auto;
    max-width: 100%;
    object-fit: cover;

}

.accroche {
    margin-bottom: 30px;
    line-height: inherit;
    color: #888;
    display: block;
}

#content_about {
    display: flex;
    width: 100%;
    position: relative;
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 20px;
}

#divRougeAbout p {
    background: #510001;
    font-family: "Playfair Display", serif;
    font-style: italic;
    text-align: center;
    padding: 60px;
    line-height: 1.2em;
    font-size: 2.125rem;
    color: white !important;
    text-align: center;

}


#divTexteAbout {
    padding-left: 60px;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    height: 100%;


}

#content_about p {
    color: #888;
    font-weight: 300;
    margin: 0 0 20px;
    display: block;
    line-height: 1.8em;

}


@media screen and (max-width: 767px) {
    #content_about {
        display: inline-block;
    }
    #divTexteAbout {
        padding-left: 0px;
    }
    #backgroundAbout {
        height: 50vh;
    }

}

@media screen and (min-width:767px) and (max-width: 1024px) {
    #backgroundAbout {
        height: 60vh;
    }

}



/* Contact */

.containerContact {
    margin-top: 9%;
    text-align: center;
    background: linear-gradient(to top, black 0%, rgba(255, 0, 0, 0));
}

.containerContact p {
    font-size: 19px;
    margin-top: 20px;
    line-height: 1;
}

form {
    margin-top: 50px;
}

.containerContact h1,
.containerTerms h1 {
    text-transform: uppercase;
    margin-top: 200px;
}

.formRequired {
    font-family: "Playfair Display", serif;
    font-style: italic;
    opacity: 0.5;
    font-size: 15px!important;
    text-align: left;
    margin: 0 17px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

input {
    width: 100%;
}

input,
textarea {
    color: black;
}

div #message {
    display: block;
}

form {
    max-width: 50%;
    margin: 0 auto;
}

form p {
    display: block;
}

form button {
    display: block;
}

textarea {
    max-width: 97%;
    min-width: 97%;
    min-height: 120px;
}

.divTextarea {
    margin: 0 17px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}


/* Page 404 */

.error404 {
    background-image: url('images/bg-404.jpg');
    background-repeat: no-repeat;
}

.errorPage404 {
    margin: auto;
}

#section404 {
    position: relative;
    height: calc(100vh - 100px);
    max-width: 620px;
    margin: 0 auto;
}

#content_page404 {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#content_page404 h1 {
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
    text-transform: none;
    width: 100%;
}

#content_page404 a {
    outline: 0 !important;
    text-decoration: none;
}

#content_page404 p {
    text-align: center;
}

.button {
    margin-top: 60px;
    display: inline-block;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0 !important;
    color: white;
    text-transform: uppercase;
    line-height: 40px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;

}

.button:hover {
    border-color: #9d1a24;
    background-color: #9d1a24;
}

#content_page404 a:visited {
    color: white;
}

@media screen and (max-width: 767px) {
    #section404 #content_page404 {
        padding: 0 20px;
    }
}

/* mosaique */

h1 {
    margin-bottom: 40px;
    padding-bottom: 20px;
}

#mosaique {
    text-align: center;
}

.overlay-image {
    padding: 0 5px;
    margin-bottom: 10px;

}

.container-fluid {
    padding: 0 !important;
}


.img-responsive {
    margin: 0 auto;
}

.overlay-image .hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s ease;


}


.overlay-image:hover .hover {
    opacity: 1;
}

.overlay-image .hover .btn {
    color: white;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 4px solid #a11a25;
}

@media screen and (max-width: 767px) {
    .overlay-image img {
        padding: 0 30px;
    }
}

@media screen and (min-width:767px) and (max-width: 991px) {
    .overlay-image img {
        padding: 0 20px;

    }
}

footer {
    background-color: black;
    padding: 40px 15px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 999;

}


/* Terms */

.firstLineTerms {
    font-weight: bold;
    display: block;
    padding: 15px 0;
}

.containerTerms p {
    text-align: justify;
}


/* Page Spectacle */

#imageSpectacle {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 768px;
    height: 90vh;
    background-image: url("../imgRoiArthur/%C2%A9AnthonyGhnassia-22.jpg");
    background-size: cover;
    background-position: bottom;
}

#navigationSpectacle {
    display: none;
    height: 75px;
    line-height: 75px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-self: flex-end;
    /* met la nav en bas de l'image*/
}




#navigationSpectacle .nav-box.previous {
    float: left;
}

#navigationSpectacle .nav-box.next {
    float: right;
}

#navigationSpectacle .nav-box a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#navigationSpectacle .nav-box.next a:after {
    font-family: FontAwesome;
    content: "\f054";
}

#navigationSpectacle .nav-box.previous a:before {
    font-family: FontAwesome;
    content: "\f053";
}

#navigationSpectacle .nav-box a:before,
#navigationSpectacle .nav-box a:after {
    display: block;
    font-size: 2.625rem;
    width: 75px;
    height: 75px;
    transition: all 0.3s ease;
    text-align: center;
    color: white;
}

#containerSpectacle {
    background-color: black;
    padding-top: 40px;
    position: relative;
}

#containerSpectacle p {
    color: #888;
}

#containerSpectacle {
    text-align: center;
}

#containerSpectacle .row .col-sm-5.col-md-4.col-lg-3 {
    padding-left: 0px !important;
}


.paragrapheIntroSpectacle {

    text-align: left;
}

.paragrapheSpectacle2 p {
    margin: 0;
    text-align: left;
}

@media screen and (min-width: 767px) {
    .paragrapheIntroSpectacle {
        padding-left: 30px;
    }
}

@media screen and (max-width: 767px) {
    #containerSpectacle img {
        padding-bottom: 30px;
    }
}

h2 {
    column-span: all;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
}

h3 {
    font-family: "Playfair Display", serif;
}

.paragrapheSpectacle3 .row ul li {
    list-style: none;
    text-align: left;
}


/*gallery spectacle*/

#gallery {
    margin-bottom: 40px;
    margin-top: 40px;
    clear: both;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

#gallery img {
    opacity: 0.7;
    transform: scale(1);
    transition: all 0.8s ease-in-out;
    width: 100%!important;
    display: flex;
    max-height: 500px;
    object-fit: scale-down;
    text-align: cover;

}

#gallery .button {
    font-weight: bold;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    bottom: 20.42%;
}
